<a href="https://colab.research.google.com/github/YahirRM/CyP20221157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 4/11/21

#### Tipos de datos estructurados en python 

1. Listas
2. Tuplas
3. Diccionarios 
4. Conjuntos (opcional)

### Listas 

- Es un tipo de dato que agrupa variables o valores 
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas
           - Usando []
           - Usando list()
           - Usando un generador 
- Puede contener tipos de datos diversos 
- Los elementos internos se seleccionan con []
- Sopar slicing  
- SON MUTABLES
- GENERADORES [var for x in range (10)]
- Al ser una clase contiene muchos m√©todos utiles

In [ ]:
numeros = [10, 5, 3, 2, 1]
print (numeros)
# append agrega datos
numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(3)
numeros2.append(2)
numeros2.append(1)
print (numeros2)
numeros[2] = 20
print (numeros) 
numeros[-1] = 33
print (numeros) 
numeros.append(88)
print (numeros)

[10, 5, 3, 2, 1]
[10, 5, 3, 2, 1]
[10, 5, 20, 2, 1]
[10, 5, 20, 2, 33]
[10, 5, 20, 2, 33, 88]

In [ ]:
# tipos diversos 

cosas = [12, 2, True, "Jose", 1.57, ["pera", "Kiwi", "Manzana"]]
print (cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:1])

cosas [3] =cosas [3].upper()
print (cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'Kiwi', 'Manzana']]
2
1.57
['pera', 'Kiwi', 'Manzana']
Kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'Kiwi', 'Manzana']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print (numeros)
#Slicing 
# Del 4-8
print (numeros[3:8])
# Del 9-10
print (numeros[8:10])
# Imprimir la lista inversamente 
print (numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con un generador 
numeros = [x for x in range(101)]
print(numeros)

numeros = [x*3 for x in range(101)] #Para que se multiplique por 3 
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

Funcion Range ()

Tiene los mismos componentes que slicing 
range (1,101,1)

In [ ]:
# Crear una lista con un generador 
numeros = [x for x in range(50,101)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Metodos disponibles de una lista

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numero = [4,5,6,7,8,90,98]
print (numero)
numero.append(99) #append agrega elementos
print (numero)
numero.clear() #Vacia la lista
print (numero)

frutas = ["Uvas", "Kiwi", "Manzana"]
copia = frutas

print (frutas)
print (copia)
frutas.append("Naranja")
print (frutas)
print (copia)
print ("------------------------------------------")
colores = ["Rojo","Azul","Blanco"]
copia2 = colores.copy()
print (colores)
print (copia2)
colores.append("Verde")
print (colores)
print (copia2)
print ("------------------------------------------")
numero = [4,5,6,7,8,15,90,15]
print ("Numero de veces que aparece el 15: ",numero.count(15)) #count cuenta 
print ("------------------------------------------")
#extend 
nombres = ["Jose","Pedro","Karina"]
otrosnombres =["Josue", "Liliana","Dalia"]
print (nombres)
print (otrosnombres)
nombres = nombres + otrosnombres
print (nombres)
#Uso de extend 
otrosnombres.extend(["Jesus", "Maria", "Jose"])
print (otrosnombres)
#Index
print ("------------------------------------------")
print("Jesus esta en la posicion: ", otrosnombres.index("Jesus"))
#Insert inserta valores en cualquier posici√≥n y los anteriores los mueve a la izquierda
print ("------------------------------------------")
otrosnombres.insert(4,"Espiritu santo")
print (otrosnombres)
print ("------------------------------------------")
#pop saca el ultimo dato y lo regresa

resultado = otrosnombres.pop()
print (otrosnombres)
print (resultado)

[4, 5, 6, 7, 8, 90, 98]
[4, 5, 6, 7, 8, 90, 98, 99]
[]
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana', 'Naranja']
['Uvas', 'Kiwi', 'Manzana', 'Naranja']
------------------------------------------
['Rojo', 'Azul', 'Blanco']
['Rojo', 'Azul', 'Blanco']
['Rojo', 'Azul', 'Blanco', 'Verde']
['Rojo', 'Azul', 'Blanco']
------------------------------------------
Numero de veces que aparece el 15:  2
------------------------------------------
['Jose', 'Pedro', 'Karina']
['Josue', 'Liliana', 'Dalia']
['Jose', 'Pedro', 'Karina', 'Josue', 'Liliana', 'Dalia']
['Josue', 'Liliana', 'Dalia', 'Jesus', 'Maria', 'Jose']
------------------------------------------
Jesus esta en la posicion:  3
------------------------------------------
['Josue', 'Liliana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria', 'Jose']
------------------------------------------
['Josue', 'Liliana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria']
Jose

### 09/11/2021

# Tuplas

### Caracteristicas de las tuplas
- Datos agrupados
- Es una estruccutra secuencial, indexada a partir de 0 
- Pueden tener de 0 a n elementos 
- NO SON MUTABLES (no se pueden eliminar y/o modificar)
- Son buenas para √±lmacenar informaci√≥n de consulta 
- Pueden almacenar informaci√≥n de diferentes tipos de datos 
- Pueden estar anidadas 
- Tienen m√©etodos utiles
- Se declara usando:  
  - ()
  - Constructor

In [12]:
info = ("Juan20", "dios123", "123.232.1.12")
print (info)
print (info[1])

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print (numeros)
print (numeros[5:11])

cosa = (info,numeros)
print (cosa)
print (cosa[1][5:11:1] )
print (cosa[0][2][4:7])

('Juan20', 'dios123', '123.232.1.12')
dios123
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('Juan20', 'dios123', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Metodos de las tuplas 
- Son las mismas que las listas pero no permiten la mutabilidad

In [13]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios 
### Caracteristicas 
- Agrupan datos, pero de forma no lineal 
- Se declaran: {} dict()
- Formado por pares de tipo llave:valor, donde: 
  - La llave es de tipo string 
  - El valor puede ser de cualquier tipo de datos, incluyendo los diccionarios
- Se seleccionan con las llaves de la forma: 
  ["id_llave"]
- SON MUTABLES 
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [28]:
alumno = {"Nombre" : "Jose"}
print (alumno)
print (alumno["Nombre"])
alumno = {"Nombre" : "Jose", "nc" : "22225353", "Edad" : 18}
print ("Edad del alumno = ",alumno["Edad"])
print (alumno["Nombre"].upper())

print ("Alumno 2")
alumno2 = dict () #Es un diccionario que al momento estan vacios 
alumno2["nombre"] = "Jose" 
print (alumno2)
alumno2["nc"] = "22225353" 
alumno2["edad"] = 18 
print (alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print (alumno2)

{'Nombre': 'Jose'}
Jose
Edad del alumno =  18
JOSE
Alumno 2
{'nombre': 'Jose'}
{'nombre': 'Jose', 'nc': '22225353', 'edad': 18}
{'nombre': 'Jose', 'nc': '22225353', 'edad': 19}

In [48]:
cliente = {"id" : "CT2134", 
           "nombre" : "Jose Pedroza Rosales", 
           "telefono" : "casa: 55543211 cel= 5610493262" }
print(cliente)
cliente = {"id" : "CT2134", 
           "nombre" : {
               "nombres" : ["Jose", "Eduardo"],
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           },
           "telefonos" : {
               "casa" : "5567899765",
               "trabajo" : "555678897",
               "celular" : "5610493262"
           },
           "productos" : {
               "ahorro" : {"numero_cuenta": "7788", "ahorros": 2500.5},
               "tarjetas" : [
                              {"tipo": "debito", "saldo":10000.5},
                              {"tipo": "credito perferente" , "limite" : 2500000.5},
                              {"tipo": "lite", "limite":15000.5},
               ]
           },
           "direccion":{
               "calle": "Av. Central", 
               "numero": 1245,
               "colonia": "impulsora",
               "delegacion": "neza",
               "estado" : {
                   "clave de estado": 15,
                   "nombre_corto": "EDOMEX",
                   "nombre" : "Estado de Mexico"
               }
           }
           }
print(cliente["telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["ahorro"]["ahorros"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())

{'id': 'CT2134', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa: 55543211 cel= 5610493262'}
5567899765
{'id': 'CT2134', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '5567899765', 'trabajo': '555678897', 'celular': '5610493262'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorros': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito perferente', 'limite': 2500000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. Central', 'numero': 1245, 'colonia': 'impulsora', 'delegacion': 'neza', 'estado': {'clave de estado': 15, 'nombre_corto': 'EDOMEX', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO