<a href="https://colab.research.google.com/github/YahirRM/CyP20221157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 4/11/21

#### Tipos de datos estructurados en python 

1. Listas
2. Tuplas
3. Diccionarios 
4. Conjuntos (opcional)

### Listas 

- Es un tipo de dato que agrupa variables o valores 
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas
           - Usando []
           - Usando list()
           - Usando un generador 
- Puede contener tipos de datos diversos 
- Los elementos internos se seleccionan con []
- Sopar slicing  
- SON MUTABLES
- GENERADORES [var for x in range (10)]
- Al ser una clase contiene muchos métodos utiles

In [ ]:
numeros = [10, 5, 3, 2, 1]
print (numeros)
# append agrega datos
numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(3)
numeros2.append(2)
numeros2.append(1)
print (numeros2)
numeros[2] = 20
print (numeros) 
numeros[-1] = 33
print (numeros) 
numeros.append(88)
print (numeros)

[10, 5, 3, 2, 1]
[10, 5, 3, 2, 1]
[10, 5, 20, 2, 1]
[10, 5, 20, 2, 33]
[10, 5, 20, 2, 33, 88]

In [ ]:
# tipos diversos 

cosas = [12, 2, True, "Jose", 1.57, ["pera", "Kiwi", "Manzana"]]
print (cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3:1])

cosas [3] =cosas [3].upper()
print (cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'Kiwi', 'Manzana']]
2
1.57
['pera', 'Kiwi', 'Manzana']
Kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'Kiwi', 'Manzana']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print (numeros)
#Slicing 
# Del 4-8
print (numeros[3:8])
# Del 9-10
print (numeros[8:10])
# Imprimir la lista inversamente 
print (numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con un generador 
numeros = [x for x in range(101)]
print(numeros)

numeros = [x*3 for x in range(101)] #Para que se multiplique por 3 
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

Funcion Range ()

Tiene los mismos componentes que slicing 
range (1,101,1)

In [ ]:
# Crear una lista con un generador 
numeros = [x for x in range(50,101)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Metodos disponibles de una lista

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numero = [4,5,6,7,8,90,98]
print (numero)
numero.append(99) #append agrega elementos
print (numero)
numero.clear() #Vacia la lista
print (numero)

frutas = ["Uvas", "Kiwi", "Manzana"]
copia = frutas

print (frutas)
print (copia)
frutas.append("Naranja")
print (frutas)
print (copia)
print ("------------------------------------------")
colores = ["Rojo","Azul","Blanco"]
copia2 = colores.copy()
print (colores)
print (copia2)
colores.append("Verde")
print (colores)
print (copia2)
print ("------------------------------------------")
numero = [4,5,6,7,8,15,90,15]
print ("Numero de veces que aparece el 15: ",numero.count(15)) #count cuenta 
print ("------------------------------------------")
#extend 
nombres = ["Jose","Pedro","Karina"]
otrosnombres =["Josue", "Liliana","Dalia"]
print (nombres)
print (otrosnombres)
nombres = nombres + otrosnombres
print (nombres)
#Uso de extend 
otrosnombres.extend(["Jesus", "Maria", "Jose"])
print (otrosnombres)
#Index
print ("------------------------------------------")
print("Jesus esta en la posicion: ", otrosnombres.index("Jesus"))
#Insert inserta valores en cualquier posición y los anteriores los mueve a la izquierda
print ("------------------------------------------")
otrosnombres.insert(4,"Espiritu santo")
print (otrosnombres)
print ("------------------------------------------")
#pop saca el ultimo dato y lo regresa

resultado = otrosnombres.pop()
print (otrosnombres)
print (resultado)

[4, 5, 6, 7, 8, 90, 98]
[4, 5, 6, 7, 8, 90, 98, 99]
[]
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana']
['Uvas', 'Kiwi', 'Manzana', 'Naranja']
['Uvas', 'Kiwi', 'Manzana', 'Naranja']
------------------------------------------
['Rojo', 'Azul', 'Blanco']
['Rojo', 'Azul', 'Blanco']
['Rojo', 'Azul', 'Blanco', 'Verde']
['Rojo', 'Azul', 'Blanco']
------------------------------------------
Numero de veces que aparece el 15:  2
------------------------------------------
['Jose', 'Pedro', 'Karina']
['Josue', 'Liliana', 'Dalia']
['Jose', 'Pedro', 'Karina', 'Josue', 'Liliana', 'Dalia']
['Josue', 'Liliana', 'Dalia', 'Jesus', 'Maria', 'Jose']
------------------------------------------
Jesus esta en la posicion:  3
------------------------------------------
['Josue', 'Liliana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria', 'Jose']
------------------------------------------
['Josue', 'Liliana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria']
Jose

### 09/11/2021

# Tuplas

### Caracteristicas de las tuplas
- Datos agrupados
- Es una estruccutra secuencial, indexada a partir de 0 
- Pueden tener de 0 a n elementos 
- NO SON MUTABLES (no se pueden eliminar y/o modificar)
- Son buenas para ñlmacenar información de consulta 
- Pueden almacenar información de diferentes tipos de datos 
- Pueden estar anidadas 
- Tienen méetodos utiles
- Se declara usando:  
  - ()
  - Constructor

In [ ]:
info = ("Juan20", "dios123", "123.232.1.12")
print (info)
print (info[1])

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print (numeros)
print (numeros[5:11])

cosa = (info,numeros)
print (cosa)
print (cosa[1][5:11:1] )
print (cosa[0][2][4:7])

('Juan20', 'dios123', '123.232.1.12')
dios123
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('Juan20', 'dios123', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Metodos de las tuplas 
- Son las mismas que las listas pero no permiten la mutabilidad

In [ ]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios 
### Caracteristicas 
- Agrupan datos, pero de forma no lineal 
- Se declaran: {} dict()
- Formado por pares de tipo llave:valor, donde: 
  - La llave es de tipo string 
  - El valor puede ser de cualquier tipo de datos, incluyendo los diccionarios
- Se seleccionan con las llaves de la forma: 
  ["id_llave"]
- SON MUTABLES 
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = {"Nombre" : "Jose"}
print (alumno)
print (alumno["Nombre"])
alumno = {"Nombre" : "Jose", "nc" : "22225353", "Edad" : 18}
print ("Edad del alumno = ",alumno["Edad"])
print (alumno["Nombre"].upper())

print ("Alumno 2")
alumno2 = dict () #Es un diccionario que al momento estan vacios 
alumno2["nombre"] = "Jose" 
print (alumno2)
alumno2["nc"] = "22225353" 
alumno2["edad"] = 18 
print (alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print (alumno2)

{'Nombre': 'Jose'}
Jose
Edad del alumno =  18
JOSE
Alumno 2
{'nombre': 'Jose'}
{'nombre': 'Jose', 'nc': '22225353', 'edad': 18}
{'nombre': 'Jose', 'nc': '22225353', 'edad': 19}

In [ ]:
cliente = {"id" : "CT2134", 
           "nombre" : "Jose Pedroza Rosales", 
           "telefono" : "casa: 55543211 cel= 5610493262" }
print(cliente)
cliente = {"id" : "CT2134", 
           "nombre" : {
               "nombres" : ["Jose", "Eduardo"],
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           },
           "telefonos" : {
               "casa" : "5567899765",
               "trabajo" : "555678897",
               "celular" : "5610493262"
           },
           "productos" : {
               "ahorro" : {"numero_cuenta": "7788", "ahorros": 2500.5},
               "tarjetas" : [
                              {"tipo": "debito", "saldo":10000.5},
                              {"tipo": "credito perferente" , "limite" : 2500000.5},
                              {"tipo": "lite", "limite":15000.5},
               ]
           },
           "direccion":{
               "calle": "Av. Central", 
               "numero": 1245,
               "colonia": "impulsora",
               "delegacion": "neza",
               "estado" : {
                   "clave de estado": 15,
                   "nombre_corto": "EDOMEX",
                   "nombre" : "Estado de Mexico"
               }
           }
           }
print(cliente["telefonos"]["casa"])
print(cliente)
print(cliente["productos"]["ahorro"]["ahorros"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
print("----------------11/11/21-----------------------------")
cliente["productos"]["ahorro"]["ahorros"] -=1500
print(cliente["productos"]["ahorro"]["ahorros"])

{'id': 'CT2134', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa: 55543211 cel= 5610493262'}
5567899765
{'id': 'CT2134', 'nombre': {'nombres': ['Jose', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '5567899765', 'trabajo': '555678897', 'celular': '5610493262'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorros': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito perferente', 'limite': 2500000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. Central', 'numero': 1245, 'colonia': 'impulsora', 'delegacion': 'neza', 'estado': {'clave de estado': 15, 'nombre_corto': 'EDOMEX', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO
----------------11/11/21-----------------------------
1000.5

# 11/11/21

In [ ]:
pelicula = {
    "Nombre_Pelicula": "The Amazing Spiderman",
    "Nombre_Actor_Estelar" : "Andrew Garfield",
    "Fecha_Estreno": "6/06/2012",
    "Fondos_Totales" : "758 millones de dolares",
    "Director": "Marc Webb"
}
print(pelicula)
print("Titulo de la pelicula: ",pelicula["Nombre_Pelicula"])

{'Nombre_Pelicula': 'The Amazing Spiderman', 'Nombre_Actor_Estelar': 'Andrew Garfield', 'Fecha_Estreno': '6/06/2012', 'Fondos_Totales': '758 millones de dolares', 'Director': 'Marc Webb'}
Titulo de la pelicula:  The Amazing Spiderman

# Estructuras de control 

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control: 
1. Secuencia: 
  - Representación de la memoria de programa (arquitectura von Newman). 
2. Selección: 
  - Es la estructura de control que decide si un bloque de programa se ejecuta o no, tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones.
  En resumen tenemos: SELECCION simple, bifurcación y multiple 
3. Repetición: 
  - Este tipo de estructura nos permite automatizar, la ejecución repetitiva de código mientras ciertas condiciones se cumplan. Tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
    - Desde...Hasta (for)
    - Haz mientras (while)
    - Haz y luego valida mientras (do-while)

# Selección simple

La estructura if
  - Para establecer el cuerpo de una estructura de control en python se usan los tabuladores a la izquierda, en otro lenguajes como C, C++ se usan las llaves {}

In [ ]:
# Estructura de selección simple (IF)

edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años" )

if edad >= 18 :
    print("ERES MAYOR DE EDAD") #Los tabuladores se usan para determinar los cuerpos de diferentes estructuras
print("ALGO")
print("FIN DEL PROGRAMA")

Dame tu edad: 18
Tecleaste 18 años
ERES MAYOR DE EDAD
ALGO
FIN DEL PROGRAMA

In [ ]:
CAL = float(input("Ingresa tu calificación: "))
print(f"Tu calificación fue de: {CAL}" )
    
if CAL > 8 :
    print("Aprobado")
print("FIN DEL PROGRAMA")

Ingresa tu calificación: 7.9
Tu calificación fue de: 7.9
FIN DEL PROGRAMA

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(f"Tu sueldo con el aumneto incluido es {NSUE}")

Escribe el sueldo: 976
Tu sueldo con el aumneto incluido es 1122.4

# 18/11/21

#Estructura de selección de bifurcación (if-else)

Esta estructura selecciona una de dos opciones de ejecución, se ejecuta un bloque si la condición se cumple o se ejecuta otro bloque si la condición no se cumple (else).

```
if <condicion> 
    <bloque de ejecución>
else:    
    <bloque de ejecución alterno>
```

In [7]:
edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años" )

if edad >= 18 :
    print("ERES MAYOR DE EDAD, ten tú cheve") #Los tabuladores se usan para determinar los cuerpos de diferentes estructuras
else :
    print("ERES MENOR DE EDAD, te tú boing")
print("Fin del programa")

Dame tu edad: 18
Tecleaste 18 años
ERES MAYOR DE EDAD, ten tú cheve
Fin del programa

In [10]:
# cheve = 36

edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años" )
dinero = float(input("Ingresa la cantidad de dinero que tienes: "))
print(f"Tu dinero actual es {dinero} pesos" )

if edad >= 18 and dinero >=36 :
    print("ERES MAYOR DE EDAD, ten tú cheve") #Los tabuladores se usan para determinar los cuerpos de diferentes estructuras
else :
    print("ERES MENOR DE EDAD, ten tú boing")
print("---Fin del programa---")

Dame tu edad: 18
Tecleaste 18 años
Ingresa la cantidad de dinero que tienes: 89
Tu dinero actual es 89.0 pesos
ERES MAYOR DE EDAD, ten tú cheve
---Fin del programa---

In [12]:
edad = int (input("Dame tu edad:"))
dinero = float(input("¿Cuánto dinero tienes?"))
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
else:
    print("Eres menor de edad, ten tu Boing")
print("---Fin del programa---")

Dame tu edad:18
¿Cuánto dinero tienes?23
No tienes suficiente dinero
Fin del programa

In [17]:
edad = int (input("Dame tu edad:"))
dinero = float(input("¿Cuánto dinero tienes?"))
if edad >= 18:
    if dinero >= 36:
        print("Ten tu cheve")
    else:
        print("Notienes dinero suficiente pero si la edad")
else: 
    if dinero >= 36:
        print("Tienes dinero suficiente pero no la edad ")
    else:
        print("No tienes la edad ni el dinero, ve al maincra")    
print("Fin del programa ")

Dame tu edad:15
¿Cuánto dinero tienes?50
Tienes dinero suficiente pero no la edad
Fin del programa

El código anterior se puede simplificar una palabra reservada, que existe en algunos lenguajes de programación. Esta palabra reservada es elif

In [21]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 18
Cuanto dinero tienes: 12
Tecleaste 18 años
Tecleaste 12.0 dinero
tienes la edad pero no tienes dinero suficiente

In [25]:
CAL = float(input("Ingresa tu calificación: "))
print(f"Tu calificación fue de: {CAL}" )
    
if CAL >= 8 :
    print("Aprobado")
else:
    print("Reprobado")
print("FIN DEL PROGRAMA")

Ingresa tu calificación: 7.99
Tu calificación fue de: 7.99
Reprobado
FIN DEL PROGRAMA

In [30]:
# ejemplo 2.4
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(f"Tu sueldo con el aumneto incluido es {NSUE}")
else: 
    AUM = SUE* 0.12
    NSUE = SUE + AUM
    print(f"Tu sueldo con el aumneto incluido es {NSUE}")

Escribe el sueldo: 1000
Tu sueldo con el aumneto incluido es 1120.0

In [33]:
# ejemplo 2.4
SUE=float(input("Dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es: {NSUE}")

Dame tu sueldo: 1000
Tu nuevo sueldo es: 1120.0

# Ejercicio 

## Hacer un programa que solicite el dia de la semana en un valor numero entero del 1 al 7 (Avisarle al usuario si proporciono un valor erroneo). Posteriormente imprimira el dia de la semana correspondiente al numero capturado 1. Lunes 2. Martes..... hasta el 7. domingo

In [39]:
dia=int(input("Dame el día de la semana del 1 al 7: "))

if dia == 1:
    print("Lunes")
elif dia == 2:
    print("Martes")
elif dia == 3:
    print("Miercoles")
elif dia == 4:
    print("Jueves")
elif dia == 5:
    print("Viernes")
elif dia == 6:
    print("Sábado")
elif dia == 7:
    print("Domingo")
else:
    print("Debe ser un valor del 1 al 7, ingresa nuevamente")
print("--Fin del programa--")

Dame el día de la semana del 1 al 7: 9
Debe ser un valor del 1 al 7, ingresa nuevamente
--Fin del programa

In [40]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("SÁBADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 9
Debe ser un numero del 1 al 7, ingresa nuevamente

In [44]:
#Ejemplo profesor 
dia = int( input("Ingresa un numero entre 1 y 7:"))
print(f"Capturaste el numero { dia }")
 
if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3:
                print("Miércoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("Sábado")
                        else:
                            print("Domingo")
 
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7:7
Capturaste el numero 7
Domingo

#Tarea
## Hacer un programa que pida dos numeros entero y que imprima en pantala los siguiente:
    Cual de ellos es el numero mayor
    Cual de ellos es el numero menor
    Imprimir los valors son iguales
## Hacer un program que solicite tres número enteros diferentes entre si y que imprima lo siguiente:
    Cual de los tres es el mayor 
    Cual de los tres es el menor 
## Hacer un programa que solicie 4 números enteros diferentes entre si y que imprima:
    Cual es el menor  
    Cual es el mayor

# Selección multiple (switch)
En python no existe la estructura switch, en su lugar se emplea la palabra reservada 

```
elif <condicon>
```

In [45]:
# ejemplo 2.7
 
NUM = int(input("dame un numero entre 1 y 3:"))
V = float(input("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3 :
    VAL =100/V
else:
    VAL = 0
 
print(VAL)

dame un numero entre 1 y 3:3
Dame un valor float:2
50.0