<a href="https://colab.research.google.com/github/YahirRM/CyP20221157/blob/main/Fundamentos3_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Repetición: 
  - Este tipo de estructura nos permite automatizar, la ejecución repetitiva de código mientras ciertas condiciones se cumplan. Tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
    - Desde...Hasta (for)
    - Haz mientras (while)
    - Haz y luego valida mientras (do-while)

# For con python

```

for j range(patas):
    print(f"Hola {j}")

```
# For con C y java


```
for(int j=0 ; j<10; j=j+1){

printf("Hola %i  /n, j);

}

```

En todo los lenguajes de programación, existe un for especial, conocido como FOR-EACH.

## For-Each en python


```
for color in colores: 
    print(f"Este es el color {color} ")

```

In [ ]:
# Función range ()
# range(<inicio>, <stop>, <incremento>)

x = range(0,10,2)
print(x)

for j in range(10): #Iterador de 0-9 --> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("-------------------")
for j in range(0,10,2): #Iterador de 0-9
    print(f"Hola {j}")


print("-------------------")
frutas = ["Uva", "Aguacate", "Pera", "Manzana", "Sandia"]
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])
print("-------------------")

for index in range(5):
    print(frutas[index])

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-------------------
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
-------------------
Uva
Aguacate
Pera
Manzana
Sandia
-------------------
Uva
Aguacate
Pera
Manzana
Sandia

In [ ]:
for i in range(5):
    print("+++++")

+++++
+++++
+++++
+++++
+++++

# 25/11/21

In [4]:
for x in range(1,20,1):
    print(x)
print("Fin del programa")

for x in range(19,0,-1):
    print(x)
print("Fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Fin del programa
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Fin del programa

In [7]:
# ejemplo 3.3

CUECER = 0
NUM = 0
N = int(input("Introduce un valor numerico mayor que 1: "))


for I in range(1, N+1, 1):
        N = int(input("Introduce un valor numerico mayor que 1: "))
        if  N == 0:
            CUECER +=1
print("CUECER = ", CUECER)

Introduce un valor numerico mayor que 1: 4
Introduce un valor numerico mayor que 1: 0
Introduce un valor numerico mayor que 1: 0
Introduce un valor numerico mayor que 1: 5
Introduce un valor numerico mayor que 1: 4
CUECER =  2

In [14]:
for f in range( 1,11): 
    print(f"7 x {f} = {7 * f}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [32]:
A = int(input("Dame un valor entre 1 y 5: "))

if A >= 1 and A<=5:
    B = int(input(f"Dame un valor entre {A} y 10: "))
    if B >= A and B<=10:
        for i in range( A, B+1):
            for j in range(1,11):
                print(f"{i} x {j} = ", i*j)
            print("-------------------")
else:
    print("Valor fuera de rango")

Dame un valor entre 1 y 5: 4
Dame un valor entre 4 y 10: 6
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
4 x 10 =  40
-------------------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50
-------------------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60
-------------------

In [40]:
# Generadores de listas 
numeros = [0,0,0,0,0,0,0,0]
print(numeros)

numeros =[   0 for x in range(5)      ]
print(numeros)

#Empleando la variable de control X para el valor inicial 
numeros =[   x for x in range(5)      ]
print(numeros)

numeros = [ x for x in range(10,101,10) ]
print(numeros)
print("------------")
numeros = [ x*10 for x in range(1,11) ]
print(numeros)

[0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
------------
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [49]:
# Calcular promedio de edad

suma=0
edades=[0 for x in range(5)]
for x in range(5):
    edades[x]=int(input("Dame una edad: "))
    suma=suma+edades[x]
print(edades)
print("promedio: ", suma/5)

Dame una edad: 32
Dame una edad: 31
Dame una edad: 12
Dame una edad: 23
Dame una edad: 11
[32, 31, 12, 23, 11]
promedio:  21.8

In [54]:
import random 
print(random.random())
print(random.uniform(5,11))

valores = [round(random.uniform(5,11),2) for x in range(20)]
print(valores)

0.9968773098645132
9.701507179417224
[7.63, 9.88, 7.11, 9.33, 8.91, 9.26, 8.54, 10.44, 5.49, 5.0, 6.35, 7.89, 10.01, 6.71, 5.13, 9.9, 7.49, 8.88, 6.12, 10.06]